@charset "utf-8";

.race_unknown {
	background-color: #ff4444;
}

.race_protoss {
	background-color: #f1c232;
}


.race_terran {
	background-color: #6fa8dc;
}

.race_zerg {
	background-color: #c27ba0;
}

.race_random {
	background-color: #cccccc;
}


.tablesorter-header {
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: nowrap;
}

.tablesorter-headerUnSorted:not(.sorter-false) {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

form {
	margin-bottom: $spacing-unit;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	:not(:first-child) {
		padding-left: 1em;
	}

	:not(:last-child) {
		padding-right: 1em;
	}
}

@for $i from 1 through 6  {
	.col-#{$i} {
		flex-basis: 100% * $i / 6;
		box-sizing: border-box;
	}
}

.cap {
	text-transform: capitalize;
}

a.normal {
	color: #3f3f3f;
}
